To clean this dataset, let's import the python libraries we'll be using:

In [1]:
import pandas as pd
import pandasql as ps
import numpy

C:\Users\emmet\AppData\Local\Temp\ipykernel_15908\2000185122.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Next, we'll read in the second csv file. We'll call this dataframe 'df_newstats' since it contains the data on the most recent trending YouTubers:

In [2]:
df_newstats = pd.read_csv('datadump/Youtubers.csv')

df_newstats.head()

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,United States,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN

I already see we have some null values we'll have to take care of, but let's get an overview on the number of columns and rows before cleaning the data:

In [3]:
cols = len(df_newstats.axes[1])
rows = len(df_newstats.axes[0])
print("Number of columns before cleaning data: ", cols)
print("Number of rows before cleaning data: ", rows)

Number of columns before cleaning data:  9
Number of rows before cleaning data:  1046

In [4]:
#start the data cleaning by deleting the first null value row
df_newstats.drop(df_newstats.index[0], axis=0, inplace=True)

#then reducing our data to the top 50 Youtubers. Since we dropped that first null row, we now only have 1045 rows:
df_newstats.drop(df_newstats.index[range(50, 1045)], axis=0, inplace=True)

#converting decimals under rank column to integers, 
#resetting default index after removing first row,
#then setting the dataframe options to display ALL cols and rows.
df_newstats['Rank'] = df_newstats['Rank'].astype(int)
df_newstats.reset_index(inplace = True, drop = True)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df_newstats.head(None)

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
0,1,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
1,2,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
2,3,Cocomelon - Nursery Rhymes,Education,171.4M,United States,5.1M,57.1K,0,NaN
3,4,SET India,NaN,167.1M,India,27.9K,996,7,NaN
4,5,âœ¿ Kids Diana Show,Animation,118.5M,NaN,5.1M,14.3K,0,Toys
5,6,Like Nastya,Toys,112.6M,NaN,3.4M,45.9K,0,NaN
6,7,PewDiePie,Movies,111.6M,United States,1.7M,109.2K,3.1K,Video games
7,8,Vlad and Niki,Animation,109.6M,NaN,5.8M,42.7K,0,Toys
8,9,Zee Music Company,Music & Dance,104.5M,India,38K,1.6K,26,NaN
9,10,WWE,Video games,99M,United States,182.9K,6.8K,227,NaN
10,11,Goldmines,Music & Dance,94M,India,34.6K,518,13,NaN
11,12,Sony SAB,Movies,89.1M,India,30.6K,789,10,Animation
12,13,5-Minute Crafts,Movies,80.6M,India,137.6K,632,33,NaN
13,14,BANGTANTV,Music & Dance,77.4M,India,688.2K,129.1K,3K,NaN
14,15,Zee TV,NaN,77M,India,8.2K,295,1,NaN
15,16,HYBE LABELS,Music & Dance,73.9M,United States,118.1K,21.6K,215,NaN
16,17,Pinkfong Baby Shark - Kids' Songs & Stories,Toys,72.5M,NaN,637.6K,713,0,NaN
17,18,Colors TV,NaN,70.2M,India,17.6K,632,3,NaN
18,19,ChuChu TV Nursery Rhymes & Kids Songs,Toys,69.8M,NaN,762.2K,15.5K,0,NaN
19,20,Shemaroo Filmi Gaane,Music & Dance,67.4M,India,29.3K,298,15,NaN
20,21,Canal KondZilla,Music & Dance,67M,Brazil,23K,1K,13,NaN
21,22,T-Series Bhakti Sagar,Music & Dance,65.8M,India,20.1K,1.2K,26,NaN
22,23,Tips Official,Music & Dance,63.5M,India,41.7K,800,20,NaN
23,24,El Reino Infantil,Music & Dance,62.4M,NaN,720.8K,3K,0,NaN
24,25,Aaj Tak,News & Politics,61.9M,India,13.9K,399,6,NaN
25,26,Movieclips,Movies,60.7M,United States,13.8K,212,11,Humor
26,27,Wave Music,Music & Dance,60.5M,NaN,32.8K,746,59,NaN
27,28,Dude Perfect,Video games,60M,United States,4.8M,134.5K,893,NaN
28,29,Sony Music India,Music & Dance,59.3M,India,16.1K,607,21,NaN
29,30,Infobells - Hindi,Education,59.1M,NaN,1.3M,3.8K,0,NaN
30,31,EminemMusic,Movies,58.9M,United States,1.2M,84K,7.4K,NaN
31,32,YRF,Music & Dance,58.3M,India,62.7K,3.4K,35,NaN
32,33,Marshmello,Music & Dance,56.9M,United States,88.2K,7.1K,137,NaN
33,34,LooLoo Kids - Nursery Rhymes and Children's Songs,Music & Dance,56.1M,United States,237.4K,773,0,NaN
34,35,BillionSurpriseToys - Nursery Rhymes & Cartoons,Toys,55.2M,NaN,82.8K,0,0,NaN
35,36,Ariana Grande,Music & Dance,53.5M,United States,310.7K,40.4K,1.5K,NaN
36,37,Shemaroo,NaN,51.4M,India,9.7K,84,5,NaN
37,38,Toys and Colors,Movies,51.1M,NaN,4.8M,2.8K,0,Toys
38,39,ARY Digital HD,NaN,50.5M,Pakistan,21.9K,722,4,NaN
39,40,A4,Animation,50.5M,Russia,7.9M,337.9K,27K,Humor
40,41,HAR PAL GEO,Movies,50.1M,Pakistan,6.7K,61,2,Animation
41,42,Get Movies,Movies,49.4M,NaN,56.6K,219,0,Humor
42,43,JuegaGerman,Movies,49.2M,Mexico,1.5M,96.5K,4.8K,Animation
43,44,Billie Eilish,Music & Dance,49.1M,United States,363.1K,30.2K,418,NaN
44,45,SonyMusicIndiaVEVO,Music & Dance,49M,India,9.4K,134,9,NaN
45,46,Mikecrack,Movies,47.4M,Mexico,785.6K,73.5K,1.7K,Animation
46,47,Badabun,NaN,47.3M,Mexico,6.8K,276,3,NaN
47,48,Voot Kids,NaN,47.2M,NaN,41.5K,169,0,NaN
48,49,ABS-CBN Entertainment,NaN,46.7M,Philippines,2.5K,56,1,NaN
49,50,ÐœÐ°ÑˆÐ° Ð¸ ÐœÐµÐ´Ð²ÐµÐ´ÑŒ,NaN,46.5M,NaN,1.4M,11.7K,0,NaN

In [5]:
#now let's drop repeat columns we won't need when combining both tables to make comparisons
df_newstats = df_newstats.drop(columns = ['Category', 'Country', 'Average Views', 'Content Type'])

#let's display the column names again
df_newstats.columns.values

array(['Rank', 'Channel Name', 'Subscribers', 'Average Likes',
       'Average Comments'], dtype=object)

In [6]:
#now comparing our values to the old dataset and after doing some research, I realized BLACKPINK, Justin Bieber, Ed Sheeran, and Taylor Swift were missing by mistake; 
#as a swifty would say, "I don't know about you, but I'm feeling data, too!"
#or as a sheeraner would say, "I'm in love with the shape of data!"
#or as a BLACKPINK fan would say, "Let's kill this dataset!"
#or as a Belieber would say, "Is it too late now to save data?"
#now that I've had my fun, let's add them back to the dataset!
df_newstats.loc[len(df_newstats)] = {'Rank': 12, 'Channel Name' : 'BLACKPINK', 'Subscribers' : '93.2M', 'Average Likes' : '439.2k', 'Average Comments' : '16.7k'}
df_newstats.loc[len(df_newstats)] = {'Rank': 17, 'Channel Name' : 'Justin Bieber', 'Subscribers' : '72.6M', 'Average Likes' : '211.2k', 'Average Comments' : '7.4k'}
df_newstats.loc[len(df_newstats)] = {'Rank': 36, 'Channel Name' : 'Ed Sheeran', 'Subscribers' : '54.3M', 'Average Likes' : '15.5k', 'Average Comments' : '364'}
df_newstats.loc[len(df_newstats)] = {'Rank': 34, 'Channel Name' : 'Taylor Swift', 'Subscribers' : '56.6M', 'Average Likes' : '188.5k', 'Average Comments' : '6k'}

In [7]:
df_newstats.head(None)

,Rank,Channel Name,Subscribers,Average Likes,Average Comments
0,1,T-Series,258.4M,5.6K,223
1,2,MrBeast,236.1M,4M,74K
2,3,Cocomelon - Nursery Rhymes,171.4M,57.1K,0
3,4,SET India,167.1M,996,7
4,5,âœ¿ Kids Diana Show,118.5M,14.3K,0
5,6,Like Nastya,112.6M,45.9K,0
6,7,PewDiePie,111.6M,109.2K,3.1K
7,8,Vlad and Niki,109.6M,42.7K,0
8,9,Zee Music Company,104.5M,1.6K,26
9,10,WWE,99M,6.8K,227
10,11,Goldmines,94M,518,13
11,12,Sony SAB,89.1M,789,10
12,13,5-Minute Crafts,80.6M,632,33
13,14,BANGTANTV,77.4M,129.1K,3K
14,15,Zee TV,77M,295,1
15,16,HYBE LABELS,73.9M,21.6K,215
16,17,Pinkfong Baby Shark - Kids' Songs & Stories,72.5M,713,0
17,18,Colors TV,70.2M,632,3
18,19,ChuChu TV Nursery Rhymes & Kids Songs,69.8M,15.5K,0
19,20,Shemaroo Filmi Gaane,67.4M,298,15
20,21,Canal KondZilla,67M,1K,13
21,22,T-Series Bhakti Sagar,65.8M,1.2K,26
22,23,Tips Official,63.5M,800,20
23,24,El Reino Infantil,62.4M,3K,0
24,25,Aaj Tak,61.9M,399,6
25,26,Movieclips,60.7M,212,11
26,27,Wave Music,60.5M,746,59
27,28,Dude Perfect,60M,134.5K,893
28,29,Sony Music India,59.3M,607,21
29,30,Infobells - Hindi,59.1M,3.8K,0
30,31,EminemMusic,58.9M,84K,7.4K
31,32,YRF,58.3M,3.4K,35
32,33,Marshmello,56.9M,7.1K,137
33,34,LooLoo Kids - Nursery Rhymes and Children's Songs,56.1M,773,0
34,35,BillionSurpriseToys - Nursery Rhymes & Cartoons,55.2M,0,0
35,36,Ariana Grande,53.5M,40.4K,1.5K
36,37,Shemaroo,51.4M,84,5
37,38,Toys and Colors,51.1M,2.8K,0
38,39,ARY Digital HD,50.5M,722,4
39,40,A4,50.5M,337.9K,27K
40,41,HAR PAL GEO,50.1M,61,2
41,42,Get Movies,49.4M,219,0
42,43,JuegaGerman,49.2M,96.5K,4.8K
43,44,Billie Eilish,49.1M,30.2K,418
44,45,SonyMusicIndiaVEVO,49M,134,9
45,46,Mikecrack,47.4M,73.5K,1.7K
46,47,Badabun,47.3M,276,3
47,48,Voot Kids,47.2M,169,0
48,49,ABS-CBN Entertainment,46.7M,56,1
49,50,ÐœÐ°ÑˆÐ° Ð¸ ÐœÐµÐ´Ð²ÐµÐ´ÑŒ,46.5M,11.7K,0
50,12,BLACKPINK,93.2M,439.2k,16.7k
51,17,Justin Bieber,72.6M,211.2k,7.4k
52,36,Ed Sheeran,54.3M,15.5k,364
53,34,Taylor Swift,56.6M,188.5k,6k

In [8]:
#now we'll need to sort based on subscriber count to get them in the right order again
#Also rename channel name column to youtuber